# Build files
/build/
/out/

# IDE
/.idea/
/*.iml

# Gradle
/.gradle/
/gradlew
/gradlew.bat

# Logs
*.log

# OS
.DS_Store
Thumbs.db
 
# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
*.ipr
*.iws

# other
eclipse
run
runs
run-data

repo
/.old
